<div>
    {{>nav }}
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <p class="text-center">Pending quizzes</p>
            {{#if newestQuizzes}}
            {{#each newestQuizzes}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>{{this.quizName}}</p>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>No pending quizzes</p>
                </div>
            </div>
            {{/if}}
            <a href="/api/question/pending/1" class="btn btn-warning btn-block">See more</a>
        </div>

        <div class="col-md-4">
            <p class="text-center">Quiz pool</p>
            {{#if quizPool}}
            {{#each quizPool}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>{{this.quizName}}</p>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>No quizzes in pool</p>
                </div>
            </div>
            {{/if}}
            <a href="/api/question/pool/1" class="btn btn-warning btn-block">See more</a>
        </div>

        <div class="col-md-4">
            <p class="text-center">Reported quizzes</p>
            {{#if reportedQuizzes}}
            {{#each reportedQuizzes}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>{{this.quizName}}</p>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>No reported quizzes</p>
                </div>
            </div>
            {{/if}}
            <a href="/api/question/reported/1" class="btn btn-warning btn-block mb-5">See more</a>
        </div>
    </div>
    <a href="/quiz/add" class="btn btn-success btn-block mt-5">Submit a new quiz</a>
</div>