<div>
    {{>nav }}
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <p class="text-center">Newest pending questions</p>
            {{#if newestQuestions}}
            {{#each newestQuestions}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>{{this.questionBody}}</p>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>No pending questions</p>
                </div>
            </div>
            {{/if}}
            <a href="/question/pending/1" class="btn btn-warning btn-block">See more</a>
        </div>

        <div class="col-md-4">
            <p class="text-center">Question pool</p>
            {{#if approvedQuestions}}
            {{#each approvedQuestions}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>{{this.questionBody}}</p>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>No questions in pool</p>
                </div>
            </div>
            {{/if}}
            <a href="/question/pool/1" class="btn btn-warning btn-block">See more</a>
        </div>

        <div class="col-md-4">
            <p class="text-center">Newest reported questions</p>
            {{#if reportedQuestions}}
            {{#each reportedQuestions}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>{{this.questionBody}}</p>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="card card-body text-center">
                <div class="text-center" role="alert">
                    <p>No reported questions</p>
                </div>
            </div>
            {{/if}}
            <a href="/question/reported/1" class="btn btn-warning btn-block mb-5">See more</a>
        </div>
    </div>
    <a href="/question" class="btn btn-success btn-block mt-5">Submit a new question</a>
</div>